In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
data = pd.read_csv("csv/trains.csv")

In [3]:
data.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,6.800000,0.037490,48.6034,2004,291.6204,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0
1,15.600000,0.172597,114.8518,1997,2163.1842,0,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
2,12.911575,0.054721,107.8254,1985,2387.5588,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,11.800000,0.098312,81.4618,1998,161.1236,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,17.850000,0.046600,125.1388,2004,1981.4208,0,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1364 entries, 0 to 1363
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Item_Weight                      1364 non-null   float64
 1   Item_Visibility                  1364 non-null   float64
 2   Item_MRP                         1364 non-null   float64
 3   Outlet_Establishment_Year        1364 non-null   int64
 4   Item_Outlet_Sales                1364 non-null   float64
 5   Item_Fat_Content_LF              1364 non-null   int64
 6   Item_Fat_Content_Low Fat         1364 non-null   int64
 7   Item_Fat_Content_Regular         1364 non-null   int64
 8   Item_Fat_Content_low fat         1364 non-null   int64
 9   Item_Fat_Content_reg             1364 non-null   int64
 10  Item_Type_Baking Goods           1364 non-null   int64
 11  Item_Type_Breads                 1364 non-null   int64
 12  Item_Type_Breakfast              1364 non-null   int64
 13  Item_Type_Canned                 1364 non-null   int64
 14  Item_Type_Dairy                  1364 non-null   int64
 15  Item_Type_Frozen Foods           1364 non-null   int64
 16  Item_Type_Fruits and Vegetables  1364 non-null   int64
 17  Item_Type_Hard Drinks            1364 non-null   int64
 18  Item_Type_Health and Hygiene     1364 non-null   int64
 19  Item_Type_Household              1364 non-null   int64
 20  Item_Type_Meat                   1364 non-null   int64
 21  Item_Type_Others                 1364 non-null   int64
 22  Item_Type_Seafood                1364 non-null   int64
 23  Item_Type_Snack Foods            1364 non-null   int64
 24  Item_Type_Soft Drinks            1364 non-null   int64
 25  Item_Type_Starchy Foods          1364 non-null   int64
 26  Outlet_Size_High                 1364 non-null   int64
 27  Outlet_Size_Medium               1364 non-null   int64
 28  Outlet_Size_Small                1364 non-null   int64
 29  Outlet_Location_Type_Tier 1      1364 non-null   int64
 30  Outlet_Location_Type_Tier 2      1364 non-null   int64
 31  Outlet_Location_Type_Tier 3      1364 non-null   int64
 32  Outlet_Type_Grocery Store        1364 non-null   int64
 33  Outlet_Type_Supermarket Type1    1364 non-null   int64
 34  Outlet_Type_Supermarket Type2    1364 non-null   int64
 35  Outlet_Type_Supermarket Type3    1364 non-null   int64
dtypes: float64(4), int64(32)
memory usage: 383.8 KB

In [5]:
data.duplicated().any()

False

In [7]:
data.isnull().any()

Item_Weight                        False
Item_Visibility                    False
Item_MRP                           False
Outlet_Establishment_Year          False
Item_Outlet_Sales                  False
Item_Fat_Content_LF                False
Item_Fat_Content_Low Fat           False
Item_Fat_Content_Regular           False
Item_Fat_Content_low fat           False
Item_Fat_Content_reg               False
Item_Type_Baking Goods             False
Item_Type_Breads                   False
Item_Type_Breakfast                False
Item_Type_Canned                   False
Item_Type_Dairy                    False
Item_Type_Frozen Foods             False
Item_Type_Fruits and Vegetables    False
Item_Type_Hard Drinks              False
Item_Type_Health and Hygiene       False
Item_Type_Household                False
Item_Type_Meat                     False
Item_Type_Others                   False
Item_Type_Seafood                  False
Item_Type_Snack Foods              False
Item_Type_Soft Drinks              False
Item_Type_Starchy Foods            False
Outlet_Size_High                   False
Outlet_Size_Medium                 False
Outlet_Size_Small                  False
Outlet_Location_Type_Tier 1        False
Outlet_Location_Type_Tier 2        False
Outlet_Location_Type_Tier 3        False
Outlet_Type_Grocery Store          False
Outlet_Type_Supermarket Type1      False
Outlet_Type_Supermarket Type2      False
Outlet_Type_Supermarket Type3      False
dtype: bool