In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.simplefilter("ignore")

In [3]:
a = 5
b = 7

In [5]:
if (a != b):
    print (" aaa")

 aaa

In [6]:
#conditional sentence

marks = 20

if(marks>15):
    print("good")
else:
    print("improve")

good

In [7]:
firstname = "kintan"
lastname = "ptloka"

if firstname == "pitaloka":
       print("lastname", firstname)
else:
    print("firstname", lastname)

firstname ptloka

In [8]:
# looping

In [9]:
for number in range (1, 10, 3):
    print(number, end= ' ')

1 4 7

In [10]:
#define the range of outer loop

for outer_loop_number in range(1,2):
    
    #define the inner loop
    for inner_loop_character in "ABCD":
        
        print(outer_loop_number, inner_loop_character, end=' ')

1 A 1 B 1 C 1 D

In [11]:
for character in "analytics":
    
    if (character == "a") or (character == "i"):
        print ("x", end = ' ')
    else:
        print(character, end='x')

x nxx lxyxtxx cxsx

In [12]:
number = 10

while number > 5:
    print(number, end= ' ')
    
    number = number - 1
    
    if number ==8:
        number = 2

10 9

In [13]:
number = 0

for number in range (10):
    if number == 2:
        continue 
        
    print(number, end = ' ')

0 1 3 4 5 6 7 8 9

In [14]:
number = 10 

while number > 3:
    
    if number%2 ==0:
        number = number - 1
        continue
    else:
        print(number, end = ' ')
        number = number - 1

9 7 5

In [15]:
## intro to data structure

In [16]:
test = ['This','is','1','list']

In [17]:
test[1]

'is'

In [18]:
my_list = [['A','B'],
          ['X','A'],
          ['B','A'],
          ['A','X']]
my_list[2][1]

'A'

In [19]:
##tuple

In [20]:
tuplee = ('A','B','C','D','E','E',1,'D')
tuplee.index('E')

4

In [22]:
#tuple
tuplee = ('A','B','B','C','B','D')
tuplee[2:5].count('B')

2

In [23]:
tuplee = ((1,2,3,1),
         (1,1,1,1,2),
         (2,1,2,1),
         (1,2,1,1))

tuplee[1][1:3]

(1, 1)

In [24]:
#sets

In [25]:
#define 3 randoms sets
sample_set_1 = {1,2,3,4,5,6}
sample_set_2 = {1,4,3}

#check if 2 sets are disjoint sets
sample_set_1.isdisjoint(sample_set_2)

False

In [26]:
#define 3 randoms sets
sample_set_1 = {1,2,3,4,5,6}
sample_set_2 = {1,4,7}

#check if 2 sets are disjoint sets
sample_set_1.issuperset(sample_set_2)

False

In [28]:
data = ((1,2,3,4,5),
       (2,1,1,3,1),
       (1,2,2,1,1),
       (1,2,3,4,1),
       (1,1,2,3,1))

set(data[0]).intersection(set(data[2]))

{1, 2}

In [30]:
my_dict ={
    "name"     : "abc",
    "age"      : 21, 
    "roll_no"  : 'CSE100',
    "percentage" : 85
}

my_dict.update({ 'percentage':87, 'last_name' : "xyz"})
my_dict['percentage']

87

In [33]:
my_dict ={
    "name"     : "lakshay",
    "roll_no"  : 100,
    "subject"  : ['A','B','C','D','E'],
    'marks'     :[89, 98 ,76 ,68 ,76]
}

sum(my_dict["marks"][3:5])

144

In [34]:
#string manipulation

In [38]:
mystring = "ANALYTICS VIDHYA"
mystring[::-1]

'AYHDIV SCITYLANA'

In [39]:
"analytics".isalpha()

True

In [40]:
"analytics".isalnum()

True

In [41]:
"analytics".islower()

True

In [45]:
mylist = ['lakshay','sanad','aravind','aisharya','prateek']
find_a = []

for name in mylist:
    #find the position of a
    x = name.find('a')
    
    #append the result
    find_a.append(x)
find_a

[1, 1, 0, 0, 2]

In [49]:
state = ['haryana','punjab','rajasthan','karnataka','goa']
output = []

for s in state:
    
    split_with_a = s.split('a')
    output.append(len(split_with_a))
    
output

[4, 2, 4, 5, 2]